{% load bootstrap5 %}
{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <title>Contato</title>
    {% bootstrap_css %}
    {% bootstrap_messages %}
    {% bootstrap_javascript %} 
</head>

<body>
    <div class="content-fluid">
        
        <h1>Contato</h1> 

        <form class="form" autocomplete="off" action="{% url 'contato' %}" method="post">
            {% csrf_token %}
            {% bootstrap_form form %}
            
            {% buttons %}
                <button class="btn btn-primary" type="submit">Enviar Mensagem</button>
            {% endbuttons %}

        </form>
    </div>

</body>

</html>